<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<h2>Results: </h2>
{% for name in names.keys() %}
    <b>{{name}}: </b>
    <p>Cosine distance: {{names[name]["cosine"]}}</p>
    <p>Euclidean distance: {{names[name]["euclidean"]}}</p>
    <p>Euclidean_l2 distance: {{names[name]["euclidean_l2"]}}</p>
{% endfor %}
<form action="/">
    <input type="submit" value="Назад" />
</form>
<input type="hidden" value="{{names}}" id="full">
</body>
</html>