<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
             function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#'+id).attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
  </script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        .form{
            text-align: center
        }
    </style>
</head>

<body>
    <form class="form" method="POST" action="" enctype="multipart/form-data">
      <img id="image" src="{{ url_for('upload', filename='ind1.jpg') }}" style="width: 500px">
      <p><input type="file" name="file" onchange="readURL(this, 'image');"></p>
      <p><input type="submit" value="Подтвердить"></p>
    </form>
</body>
</html>